{% extends 'base.html.twig' %}


{% block title %}Nouveau mot de passe{% endblock %}


{% block body %}

    <h2> ENTREZ UN NOUVEAU MOT DE PASSE </h2>

                    {{ form_start(form) }}
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password) }}
                    <button type="submit">Confirmer</button>
                    {{ form_end(form) }}

{%  endblock %}