{% extends 'base.html.twig' %}

{% block title %}Edit Trip{% endblock %}

{% block body %}
<div class="main-container">
    <h1>Modifier une sortie</h1>
    <div class="bloc-article">

        {% if trip.state.wording == "Créée" %}
    {{ include('trip/_form.html.twig', {'button_label': 'Publier la sortie', 'button_delete':'button_delete', 'button_annuler':''})}}
        {% else %}
        {{ include('trip/_form.html.twig', {'button_label': '','button_delete':'','button_annuler':'button_annuler'})}}
        {% endif %}

    </div>
</div>
{% endblock %}
