{% extends 'base.html.twig' %}

{% block title %}Edit Trip{% endblock %}

{% block body %}
    <h1>Edit Trip</h1>

    {{ include('trip/_form.html.twig', {'button_label': 'Update', 'button_delete':'button_delete'})}}

    <a href="{{ path('app_trip_index') }}">back to list</a>

{% endblock %}
