{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('controllers/js/placeAndCity.js') }}"></script>
{% endblock %}
{% block title %}Nouvelle Sortie | {{ parent() }}{% endblock %}
{% block body %}
        <div class="main-container">
            <h1>Nouvelle Sortie</h1>
            <div class="bloc-article ">
                {{ include('trip/_form.html.twig', {'button_label': 'Publier', 'button_delete': '', 'button_annuler':''}) }}
            </div>
    </div>
{% endblock %}
