<form method="post" action="{{ path('app_place_delete', {'id': place.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce lieu ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ place.id) }}">
    <button class="btn">Supprimer</button>
</form>
