<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/app.js') }}" type="module"></script>
    {% endblock %}

    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        body {
            background-image: url('https://firstclasse.com.my/wp-content/uploads/2019/01/Holiday-destinations-rich-famous-featured.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
        }
        footer {
            margin-top: auto;
        }
        nav {
            width: 100vw;
        }
        main {
            background: white;
            margin-left: 10vw;
            margin-right: 10vw;
            margin-top: 2vh;
            margin-bottom: 2vh;
            min-height: 100vh; /* Hauteur minimale de 100vh */
            border-radius: 10px;
            padding: 20px; /* Ajoutez un remplissage pour le contenu */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optionnel : pour donner un effet d'ombre */
        }
    </style>
</head>
<body class="bg-cover bg-center">
{% include('_navbar.html.twig') %}
<main>
    {% block body %}{% endblock %}
</main>
<footer class="bg-gray-800 text-white py-4">
    <div class="container mx-auto text-center">
        <p>&copy; 2024 sortir.com. Tous droits réservés.</p>
    </div>
</footer>
</body>
</html>
