<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/faviconB.png') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% include('_navbar.html.twig') %}
<main>
    {% for message in app.flashes('success') %}
        <div class="flash" id="messageFlash">
            <div class="bg-green-100 border border-green-400 text-green-700 px-6 py-4 rounded relative" role="alert">
                <strong class="font-bold">{{ message }}</strong>
            </div>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="flash" id="messageFlash">
            <div class="bg-red-100 border border-red-400 text-red-700 px-6 py-4 rounded relative" role="alert">
                <strong class="font-bold">{{ message }}</strong>
            </div>
        </div>
    {% endfor %}
    <div class="block-body">
        {% block body %}{% endblock %}
    </div>
</main>
<footer class="">
    <div class="mx-auto text-center">
        <p>&copy; 2024 sortir.com. Tous droits réservés.</p>
    </div>
</footer>
</body>
</html>
